@import '../../scss/abstracts';

.edu-block {
  width: 100%;
  margin-top: $margin-separator-3;

  & > * {
    margin-top: $margin-separator-4;
  }

  &__institution {
    @extend %font-exp-company;
    background-color: green;
  }

  &__period {
    @extend %font-exp-period;
    background-color: aqua;
  }

  &__certificate {
    @extend %font-exp-description;
    background-color: #7575e1;
  }
}
