@import '../../scss/abstracts.scss';

.section-title {
  @extend %font-section-title;
  @include flex(column, center, center);
  width: 100%;
  height: 50px;
  border-top: 4px dotted $color-separator;
  border-bottom: 4px dotted $color-separator;

  &--dark {
    color: $color-section-title;
  }

  &--light {
    color: $color-section-title-light;
  }
}
