@import '../../scss/abstracts.scss';

.app {
  position: relative;
  @include flex(row, flex-start, center);

  &--dark {
    background-color: $color-side-column-bg;
  }

  &--light {
    background-color: $color-side-column-bg-light;
  }
}
