@import '../../scss/abstracts.scss';

.app {
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 90px;
  background-size: contain;
  @include flex(row, flex-start, center);

  @media (max-width: 1150px) {
    @include flex(column, flex-start, center);
  }

  &--dark {
    background-color: $color-side-column-bg;
    background-image: url('../../assets/cv_dark.png');

    @media (max-width: 1150px) {
      background-image: none;
    }
  }

  &--light {
    background-color: $color-side-column-bg-light;
    background-image: url('../../assets/cv_light.png');

    @media (max-width: 1150px) {
      background-image: none;
    }
  }
}
