// example
// background-color: $color-red;

// font
$font-header: 'Oswald', sans-serif;
$font-regular: 'Roboto', sans-serif;

// font-size
$text-1: 40px;
$text-2: 30px;
$text-3: 20px;
$text-4: 16px;
$text-5: 14px;
$text-6: 12px;

$color-separator: #606060;

$margin-separator-top: 15px;
