// example
// background-color: $color-red;

// layout height
$layout-height: 1750px;

// transparent color
$color-transparent: rgba(0, 0, 0, 0);

// font
$font-header: 'Oswald', sans-serif;
$font-regular: 'Roboto', sans-serif;

// font-size
$text-1: 50px;
$text-2: 30px;
$text-3: 20px;
$text-4: 18px;
$text-5: 16px;
$text-6: 12px;

// margin-separator size
$margin-separator-1: 20px;
$margin-separator-2: 15px;
$margin-separator-3: 10px;
$margin-separator-4: 5px;

// layout colors dark
$color-side-column-bg: #000b1d;
$color-central-column-bg: #313d56;
$color-separator: #606060;
$color-separator-central: #c8c8c8;

// font-colors
$color-section-title: #ffffff;
$color-block-title: #66addc;
$color-block-subtitle: #fff;
$color-block-period: #737373;
$color-block-description: #fff;

// layout colors light
$color-side-column-bg-light: #eaeaea;
$color-central-column-bg-light: #a5bef0;
$color-separator-light: #00145c;
$color-separator-central-light: #00145c;

// font-colors-light
$color-section-title-light: #00145c;
$color-block-title-light: #d46200;
$color-block-subtitle-light: #00145c;
$color-block-period-light: #00145c;
$color-block-description-light: #000000;
