// example
// background-color: $color-red;

// font
$font-header: 'Oswald', sans-serif;
$font-regular: 'Roboto', sans-serif;

// font-size
$text-1: 40px;
$text-2: 30px;
$text-3: 20px;
$text-4: 18px;
$text-5: 16px;
$text-6: 12px;

// font-colors
$color-section-title: #fff;
$color-block-title: #4c8cb3;
$color-block-subtitle: #fff;
$color-block-period: #737373;
$color-block-description: #fff;

// margin-separator size
$margin-separator-1: 20px;
$margin-separator-2: 15px;
$margin-separator-3: 10px;
$margin-separator-4: 5px;

// layout colors
$color-column-bg: #000b1d;

$color-separator: #606060;
