//@extend %absolute-center;
@import '../abstracts/constants';

// Font settings
%font-section-title {
  color: $color-section-title;
  font-weight: 400;
  font-size: $text-2;
  font-family: $font-header;
  text-transform: uppercase;
}
%font-block-title {
  color: $color-block-title;
  font-weight: 400;
  font-size: $text-3;
  font-family: $font-header;
  text-transform: uppercase;
}
%font-block-subtitle {
  color: $color-block-subtitle;
  font-weight: 400;
  font-size: $text-4;
  font-family: $font-header;
}
%font-block-period {
  color: $color-block-period;
  font-weight: 500;
  font-size: $text-5;
  font-family: $font-regular;
}
%font-block-description {
  color: $color-block-description;
  font-weight: 400;
  font-size: $text-5;
  font-family: $font-regular;
}
%font-block-skill {
  color: $color-block-description;
  font-weight: 400;
  font-size: $text-4;
  font-family: $font-regular;
}
