@import '../../scss/abstracts';

.experience-block {
  width: 100%;
  margin-top: $margin-separator-top;

  & > * {
    margin-top: 5px;
  }

  &__company {
    @extend %font-exp-company;
    background-color: green;
  }

  &__position {
    @extend %font-exp-position;
    background-color: blueviolet;
  }

  &__period {
    @extend %font-exp-period;
    background-color: aqua;
  }

  &__description {
    @extend %font-exp-description;
    background-color: #7575e1;
  }
}
