@import '../../scss/abstracts.scss';

.side-column {
  @include flex(column, space-between, center);
  width: 375px;
  height: $layout-height;
  padding: 550px 25px 0;

  &--align-right {
    text-align: right;
  }

  &--align-left {
    text-align: left;
  }
}
