@import '../../scss/abstracts.scss';

.side-column {
  width: 300px;
  height: 100vh;
  padding: 300px 25px 0;
  background-color: #a2dad5;

  &--align-right {
    text-align: right;
  }

  &--align-left {
    text-align: left;
  }
}
