@import '../../scss/abstracts.scss';

.side-column {
  @include flex(column, flex-end, center);
  width: 375px;
  height: $layout-height;
  padding: 525px 25px 0;

  &--align-right {
    text-align: right;
  }

  &--align-left {
    text-align: left;
  }
}
