@import '../../scss/abstracts.scss';

#lang-switch {
  @include flex(row, space-between, center);
  position: absolute;
  top: 10px;
  left: 10px;
  width: 210px;

  & input {
    display: none;
  }

  & label {
    transition: all ease-out 0.2s;
  }
}

.en-btn-label {
  display: block;
  width: 60px;
  height: 60px;

  &--active-dark {
    background-image: url('../../assets/icons/lang/hexagon_empty.svg'),
      url('../../assets/icons/lang/en_selected.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.1);
  }

  &--active-light {
    background-image: url('../../assets/icons/lang/light-theme/hexagon_empty.svg'),
      url('../../assets/icons/lang/light-theme/en_selected.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.1);
  }

  &--inactive-dark {
    background-image: url('../../assets/icons/lang/hexagon_empty_white.svg'),
      url('../../assets/icons/lang/en.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      background-image: url('../../assets/icons/lang/hexagon_empty.svg'),
        url('../../assets/icons/lang/en_selected.svg');
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &--inactive-light {
    background-image: url('../../assets/icons/lang/light-theme/hexagon_empty_white.svg'),
      url('../../assets/icons/lang/light-theme/en.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      background-image: url('../../assets/icons/lang/light-theme/hexagon_empty.svg'),
        url('../../assets/icons/lang/light-theme/en_selected.svg');
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.ru-btn-label {
  display: block;
  width: 60px;
  height: 60px;

  &--active-dark {
    background-image: url('../../assets/icons/lang/hexagon_empty.svg'),
      url('../../assets/icons/lang/ru_selected.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.1);
  }

  &--active-light {
    background-image: url('../../assets/icons/lang/light-theme/hexagon_empty.svg'),
      url('../../assets/icons/lang/light-theme/ru_selected.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.1);
  }

  &--inactive-dark {
    background-image: url('../../assets/icons/lang/hexagon_empty_white.svg'),
      url('../../assets/icons/lang/ru.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      background-image: url('../../assets/icons/lang/hexagon_empty.svg'),
        url('../../assets/icons/lang/ru_selected.svg');
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &--inactive-light {
    background-image: url('../../assets/icons/lang/light-theme/hexagon_empty_white.svg'),
      url('../../assets/icons/lang/light-theme/ru.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      background-image: url('../../assets/icons/lang/light-theme/hexagon_empty.svg'),
        url('../../assets/icons/lang/light-theme/ru_selected.svg');
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.ua-btn-label {
  display: block;
  width: 60px;
  height: 60px;

  &--active-dark {
    background-image: url('../../assets/icons/lang/hexagon_empty.svg'),
      url('../../assets/icons/lang/ua_selected.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.1);
  }

  &--active-light {
    background-image: url('../../assets/icons/lang/light-theme/hexagon_empty.svg'),
      url('../../assets/icons/lang/light-theme/ua_selected.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.1);
  }

  &--inactive-dark {
    background-image: url('../../assets/icons/lang/hexagon_empty_white.svg'),
      url('../../assets/icons/lang/ua.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      background-image: url('../../assets/icons/lang/hexagon_empty.svg'),
        url('../../assets/icons/lang/ua_selected.svg');
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &--inactive-light {
    background-image: url('../../assets/icons/lang/light-theme/hexagon_empty_white.svg'),
      url('../../assets/icons/lang/light-theme/ua.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      background-image: url('../../assets/icons/lang/light-theme/hexagon_empty.svg'),
        url('../../assets/icons/lang/light-theme/ua_selected.svg');
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
