@import '../../scss/abstracts';

.project-block {
  width: 100%;
  margin-top: 15px;
  & > * {
    margin-top: $margin-separator-4;
  }

  &:last-child {
    margin-top: 18px;
  }

  &__project-title {
    @extend %font-block-title;
  }

  &__link {
    display: block;
    @extend %font-block-period;
  }

  &__description {
    line-height: 1.5;
    @extend %font-block-description;
  }
}
