@import '../../scss/abstracts';

.project-block {
  width: 100%;
  margin-top: 15px;
  & > * {
    margin-top: $margin-separator-4;
  }

  &:last-child {
    margin-top: 18px;
  }

  &__project-title {
    @extend %font-block-title;

    &--dark {
      color: $color-block-title;
    }
    &--light {
      color: $color-block-title-light;
      font-weight: 700;
    }
  }

  &__link {
    display: block;
    @extend %font-block-period;

    &--dark {
      color: $color-block-period;

      &:hover {
        color: $color-block-title;
      }
    }
    &--light {
      color: $color-block-period-light;
      font-weight: 700;

      &:hover {
        color: $color-block-title-light;
      }
    }
  }

  &__description {
    line-height: 1.5;
    @extend %font-block-description;

    &--dark {
      color: $color-block-description;
    }

    &--light {
      color: $color-block-description-light;
      font-weight: 700;
    }
  }
}
