@import '../../scss/abstracts.scss';

.skill-block {
  width: 100%;
  margin-top: $margin-separator-3;
  font-size: 15px;
  background-color: red;

  &--left-column {
    @include flex(row, flex-end, flex-start);
  }

  &--right-column {
    @include flex(row-reverse, flex-end, flex-start);
  }
}

.skill-block__points {
  width: 150px;
  @include flex(row, space-between, flex-start);
}

.point {
  width: 20px;
  height: 20px;

  &--filled {
    background-color: black;
  }
  &--empty {
    border: 1px solid black;
  }
}
