@import '../../scss/abstracts.scss';

.skill-block__points {
  width: 150px;
  @include flex(row, space-between, flex-start);
}

.skill-block {
  @extend %font-block-skill;
  width: 100%;
  margin-top: $margin-separator-2;

  &--left-column {
    @include flex(row, flex-end, flex-start);

    & .skill-block__points {
      margin-left: 15px;
    }
  }

  &--right-column {
    @include flex(row-reverse, flex-end, flex-start);

    & .skill-block__points {
      margin-right: 15px;
    }
  }
}

.point {
  width: 20px;
  height: 20px;

  &--filled {
    background-image: url('../../assets/icons/skills/hexagon_filled.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--empty {
    background-image: url('../../assets/icons/skills/hexagon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
