@import '../../scss/abstracts.scss';

.skill-block__points {
  width: 150px;
  @include flex(row, space-between, flex-start);
}

.skill-block {
  position: relative;
  @extend %font-block-skill;
  width: 100%;
  margin-top: $margin-separator-2;

  &--dark {
    color: $color-block-description;
  }
  &--light {
    color: $color-block-description-light;
    font-weight: 700;
  }

  &--left-column {
    @include flex(row, flex-end, flex-start);

    & .skill-block__points {
      margin-left: 15px;

      @media (max-width: 1150px) {
        margin-right: 15px;
        margin-left: 0;
      }
    }

    @media (max-width: 1150px) {
      @include flex(row-reverse, flex-end, flex-start);
    }
  }

  &--right-column {
    position: relative;
    @extend %animation-shift-right;
    @include flex(row-reverse, flex-end, flex-start);

    & .skill-block__points {
      margin-right: 15px;
    }
  }
}

.point {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--filled-dark {
    background-image: url('../../assets/icons/skills/hexagon_filled.svg');
  }

  &--empty-dark {
    background-image: url('../../assets/icons/skills/hexagon.svg');
  }

  &--filled-light {
    background-image: url('../../assets/icons/skills/hexagon_filled_light.svg');
  }

  &--empty-light {
    background-image: url('../../assets/icons/skills/hexagon_light.svg');
  }
}
