@import '../../scss/abstracts.scss';

.contacts-section {
  @include flex(column, space-between, flex-start);
  width: 100%;

  &__row {
    width: 100%;
    margin-top: 30px;
    @include flex(row, space-around, flex-start);
  }

  &__icon {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all ease-out 0.2s;

    &--fb {
      background-image: url('../../assets/icons/contacts/hexagon_empty_white.svg'),
        url('../../assets/icons/contacts/facebook_light.svg');

      &:hover {
        background-image: url('../../assets/icons/contacts/hexagon_empty.svg'),
          url('../../assets/icons/contacts/facebook.svg');
      }
    }

    &--linkedin {
      background-image: url('../../assets/icons/contacts/hexagon_empty_white.svg'),
        url('../../assets/icons/contacts/linkedin_light.svg');

      &:hover {
        background-image: url('../../assets/icons/contacts/hexagon_empty.svg'),
          url('../../assets/icons/contacts/linkedin.svg');
      }
    }

    &--skype {
      background-image: url('../../assets/icons/contacts/hexagon_empty_white.svg'),
        url('../../assets/icons/contacts/skype_light.svg');

      &:hover {
        background-image: url('../../assets/icons/contacts/hexagon_empty.svg'),
          url('../../assets/icons/contacts/skype.svg');
      }
    }

    &--telegram {
      background-image: url('../../assets/icons/contacts/hexagon_empty_white.svg'),
        url('../../assets/icons/contacts/telegram_light.svg');

      &:hover {
        background-image: url('../../assets/icons/contacts/hexagon_empty.svg'),
          url('../../assets/icons/contacts/telegram.svg');
      }
    }
  }
}
