@import '../../scss/abstracts';

.language-block {
  width: 100%;
  margin-top: $margin-separator-2;

  & > * {
    margin-top: $margin-separator-4;
  }
  &__language {
    @extend %font-block-title;
  }
  &__studying {
    @extend %font-block-period;
  }
  &__level {
    @extend %font-block-description;
  }
  &__certificate {
    display: block;
    margin-top: $margin-separator-4;
    @extend %font-block-description;
  }
}
